USE [AD2016]
GO

SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Coordenada] ON 


INSERT [dbo].[Coordenada] ([IdCoordenada], [Latitud], [Longitud]) VALUES (1, N'1', N'2')
INSERT [dbo].[Coordenada] ([IdCoordenada], [Latitud], [Longitud]) VALUES (2, N'1', N'2')
INSERT [dbo].[Coordenada] ([IdCoordenada], [Latitud], [Longitud]) VALUES (3, N'8', N'9')
GO
SET IDENTITY_INSERT [dbo].[Coordenada] OFF


SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [Descripcion]) VALUES (1, N'Argentina')
INSERT [dbo].[Pais] ([IdPais], [Descripcion]) VALUES (2, N'Espana')
INSERT [dbo].[Pais] ([IdPais], [Descripcion]) VALUES (3, N'Francia')
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[PlanMantenimiento] ON 

INSERT [dbo].[PlanMantenimiento] ([IdPlanMantenimiento], [Comentarios], [Descripcion]) VALUES (1, N'plan mantenimiento A', N'Plan A')
SET IDENTITY_INSERT [dbo].[PlanMantenimiento] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([IdProvincia], [Descripcion], [IdPais]) VALUES (1, N'Buenos Aires', 1)
INSERT [dbo].[Provincia] ([IdProvincia], [Descripcion], [IdPais]) VALUES (2, N'Mendoza', 1)
INSERT [dbo].[Provincia] ([IdProvincia], [Descripcion], [IdPais]) VALUES (3, N'Cordoba', 1)
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (1, N'ADMINISTRACION')
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (2, N'VEHICULOS')
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (3, N'ENVIO')
SET IDENTITY_INSERT [dbo].[Rol] OFF

SET IDENTITY_INSERT [dbo].[Direccion] ON 
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [codigoPostal], [Localidad], [Nro], [IdPais], [IdProvincia]) VALUES (1, N'Lima 775', 1073, N'Capital Federal', 775, 1, 6)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [codigoPostal], [Localidad], [Nro], [IdPais], [IdProvincia]) VALUES (2, N'Lima 775', 1073, N'Capital Federal', 0, 1, 6)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [codigoPostal], [Localidad], [Nro], [IdPais], [IdProvincia]) VALUES (3, N'Av Rivadavia 123', 1234, N'Capital', 0, 1, 3)
SET IDENTITY_INSERT [dbo].[Direccion] OFF



SET IDENTITY_INSERT [dbo].[Usuario] ON 
INSERT [dbo].[Usuario] ([IdUsuario], [Apellido], [Dni], [fechaCreacion], [Nombre], [Password], [UltimoAcceso], [usuario], [IdRolUsuario], [IdSucursal]) VALUES (1, N'Administrador', N'123456', CAST(0x0000A6C2004ED6EF AS DateTime), N'Admin', N'admin', CAST(0x0000A6C2004ED6EF AS DateTime), N'admin', NULL, null)
SET IDENTITY_INSERT [dbo].[Usuario] OFF

SET IDENTITY_INSERT [dbo].[Sucursal] ON 
INSERT [dbo].[Sucursal] ([IdSucursal], [Descripcion], [Telefono], [Coordenada], [IdDireccion], [IdGerente]) VALUES (1, N'Sucursal Buenos Aires', N'42223333', 2, 2, 1)
INSERT [dbo].[Sucursal] ([IdSucursal], [Descripcion], [Telefono], [Coordenada], [IdDireccion], [IdGerente]) VALUES (2, N'Sucursal Cordoba', N'44432222', 3, 3, 1)
INSERT [dbo].[Sucursal] ([IdSucursal], [Descripcion], [Telefono], [Coordenada], [IdDireccion], [IdGerente]) VALUES (3, N'Sucursal La Pampa', N'4493333', 4, 4, 1)
SET IDENTITY_INSERT [dbo].[Sucursal] OFF

UPDATE Usuario set idSucursal=1 where idUsuario=1;


SET IDENTITY_INSERT [dbo].[MapaDeRuta] ON 

INSERT [dbo].[MapaDeRuta] ([IdMapaDeRuta], [CantKm], [costo], [Duracion], [IdSucursalDestino], [IdSucursalOrigen]) VALUES (1, 1000, 1200, 8, 2, 1)
INSERT [dbo].[MapaDeRuta] ([IdMapaDeRuta], [CantKm], [costo], [Duracion], [IdSucursalDestino], [IdSucursalOrigen]) VALUES (2, 1300, 1500, 10, 3, 1)
INSERT [dbo].[MapaDeRuta] ([IdMapaDeRuta], [CantKm], [costo], [Duracion], [IdSucursalDestino], [IdSucursalOrigen]) VALUES (3, 1600, 1600, 14, 4, 1)

SET IDENTITY_INSERT [dbo].[MapaDeRuta] OFF
INSERT [dbo].[MapaDeRutaCoordenada] ([IdMapaDeRuta], [IdCoordenada]) VALUES (1, 80)
INSERT [dbo].[MapaDeRutaCoordenada] ([IdMapaDeRuta], [IdCoordenada]) VALUES (1, 81)
INSERT [dbo].[MapaDeRutaCoordenada] ([IdMapaDeRuta], [IdCoordenada]) VALUES (1, 82)


SET IDENTITY_INSERT [dbo].[TareaMantenimiento] ON 

INSERT [dbo].[TareaMantenimiento] ([Tipo], [IdTareaMantenimiento], [Tarea], [CantidadDias], [CantidadKilometros], [IdPlanMantenimiento]) VALUES (N'k', 1, N'Tarea Km', NULL, 1000, 1)
INSERT [dbo].[TareaMantenimiento] ([Tipo], [IdTareaMantenimiento], [Tarea], [CantidadDias], [CantidadKilometros], [IdPlanMantenimiento]) VALUES (N't', 2, N'Tarea Tiempo', 30, NULL, 1)
SET IDENTITY_INSERT [dbo].[TareaMantenimiento] OFF


SET IDENTITY_INSERT [dbo].[Usuario] ON 
INSERT [dbo].[Usuario] ([IdUsuario], [Apellido], [Dni], [fechaCreacion], [Nombre], [Password], [UltimoAcceso], [usuario], [IdRolUsuario], [IdSucursal]) VALUES (2, N'Lopez', N'29888777', CAST(0x0000A6C200000000 AS DateTime), N'Pepe', N'admin2', NULL, N'admin2', NULL, 2)
INSERT [dbo].[Usuario] ([IdUsuario], [Apellido], [Dni], [fechaCreacion], [Nombre], [Password], [UltimoAcceso], [usuario], [IdRolUsuario], [IdSucursal]) VALUES (3, N'Corvetto', N'29458933', CAST(0x0000A6C200FC038F AS DateTime), N'Dana', N'admin3', NULL, N'admin3', NULL, 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[UsuarioRol] ([Usuario], [IdRol]) VALUES (1, 1)
INSERT [dbo].[UsuarioRol] ([Usuario], [IdRol]) VALUES (1, 2)
INSERT [dbo].[UsuarioRol] ([Usuario], [IdRol]) VALUES (1, 3)

SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [FechaIngreso], [Alto], [Ancho], [Anio], [CondicionTransporte], [Estado], [KmRecorridos], [Largo], [Marca], [Modelo], [Patente], [Peso], [Refrigerado], [Tara], [TemperaturaMax], [TemperaturaMin], [Tipo], [Volumen], [IdPlanMantenimiento], [idSucursal]) 
VALUES (1, CAST(0x0000A6C200B45750 AS DateTime), 2000, 500, N'2014', NULL, NULL, 550, 1400, N'Mercedes Benz', N'115', N'AAA004', 2000, 0, 1650, 30, 10, N'Camioneta', 10, 1, 1)

INSERT [dbo].[Vehiculo] ([IdVehiculo], [FechaIngreso], [Alto], [Ancho], [Anio], [CondicionTransporte], [Estado], [KmRecorridos], [Largo], [Marca], [Modelo], [Patente], [Peso], [Refrigerado], [Tara], [TemperaturaMax], [TemperaturaMin], [Tipo], [Volumen], [IdPlanMantenimiento], [idSucursal]) 
VALUES (2, CAST(0x0000A6C200B45750 AS DateTime), 2000, 500, N'2013', NULL, NULL, 3000, 1400, N'Mercedes Benz', N'115', N'AAA006', 4500, 0, 3500, 30, 10, N'Camioneta', 30, 1, 1)

INSERT [dbo].[Vehiculo] ([IdVehiculo], [FechaIngreso], [Alto], [Ancho], [Anio], [CondicionTransporte], [Estado], [KmRecorridos], [Largo], [Marca], [Modelo], [Patente], [Peso], [Refrigerado], [Tara], [TemperaturaMax], [TemperaturaMin], [Tipo], [Volumen], [IdPlanMantenimiento], [idSucursal]) 
VALUES (3, CAST(0x0000A6C200B45750 AS DateTime), 2000, 500, N'2010', NULL, NULL, 500, 1400, N'Mercedes Benz', N'185', N'AAA007', 3600, 0, 2500, 30, 10, N'Camion', 22, 1, 1)

SET IDENTITY_INSERT [dbo].[Vehiculo] OFF


SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Activo], [Cuit], [Email], [RazonSocial], [EsTallerOficial], [Telefono], [Tipo], [IdDireccion]) 
VALUES (1, N'1', N'12345678', N'taller1@gmail.com', N'Taller 1', 1, N'54448888', N'T', 7)

INSERT [dbo].[Proveedor] ([IdProveedor], [Activo], [Cuit], [Email], [RazonSocial], [EsTallerOficial], [Telefono], [Tipo], [IdDireccion]) 
VALUES (2, N'1', N'23456789', N'taller2@gmail.com', N'Taller 2', 1, N'54448888', N'T', 7)

INSERT [dbo].[Proveedor] ([IdProveedor], [Activo], [Cuit], [Email], [RazonSocial], [EsTallerOficial], [Telefono], [Tipo], [IdDireccion]) 
VALUES (3, N'1', N'34567890', N'taller3@gmail.com', N'Taller 3', 1, N'54448888', N'T', 7)


SET IDENTITY_INSERT [dbo].[Proveedor] OFF

SET IDENTITY_INSERT [dbo].[TareaMantenimientoRealizada] ON
INSERT INTO [dbo].[TareaMantenimientoRealizada]
           ([IdTareaMantenimientoRealizada]
		   ,[CantidadKilometros]
           ,[FechaRealizada]
           ,[IdProveedor]
           ,[IdTareaMantenimiento]
           ,[IdVehiculo])
     VALUES
           (1
		   ,200
           ,'2016-01-01'
           ,1
           ,1
           ,1)

INSERT INTO [dbo].[TareaMantenimientoRealizada]
           ([IdTareaMantenimientoRealizada]
		   ,[CantidadKilometros]
           ,[FechaRealizada]
           ,[IdProveedor]
           ,[IdTareaMantenimiento]
           ,[IdVehiculo])
     VALUES
           (2
		   ,200
           ,'2016-11-15'
           ,1
           ,2
           ,1)


INSERT INTO [dbo].[TareaMantenimientoRealizada]
           ([IdTareaMantenimientoRealizada]
		   ,[CantidadKilometros]
           ,[FechaRealizada]
           ,[IdProveedor]
           ,[IdTareaMantenimiento]
           ,[IdVehiculo])
     VALUES
           (3
		   ,1000
           ,'2016-01-01'
           ,1
           ,1
           ,2)




SET IDENTITY_INSERT [dbo].[TareaMantenimientoRealizada] OFF

SET IDENTITY_INSERT [dbo].[CuentaCorriente] ON 
INSERT [dbo].[CuentaCorriente] ([IdCtaCte], [Credito], [FormaPago], [LimiteCredito], [IdCliente]) VALUES (1, 0, N'Transferencia Bancaria', 10000, NULL)
INSERT [dbo].[CuentaCorriente] ([IdCtaCte], [Credito], [FormaPago], [LimiteCredito], [IdCliente]) VALUES (2, 0, N'30 dias', 20000, NULL)
INSERT [dbo].[CuentaCorriente] ([IdCtaCte], [Credito], [FormaPago], [LimiteCredito], [IdCliente]) VALUES (3, 0, N'Contado', 10000, NULL)
SET IDENTITY_INSERT [dbo].[CuentaCorriente] OFF

SET IDENTITY_INSERT [dbo].[Cliente] ON 
INSERT [dbo].[Cliente] ([TipoCliente], [IdCliente], [Email], [Estado], [Telefono], [Cuit], [RazonSocial], [Apellido], [Dni], [Nombre], [IdDireccion], [IdCuentaCorriente]) VALUES (N'p', 1, N'a@test.com', 1, N'88337777', NULL, NULL, N'A', N'12345678', N'Cliente A', 8, NULL)
INSERT [dbo].[Cliente] ([TipoCliente], [IdCliente], [Email], [Estado], [Telefono], [Cuit], [RazonSocial], [Apellido], [Dni], [Nombre], [IdDireccion], [IdCuentaCorriente]) VALUES (N'p', 2, N'b@test.com', 1, N'49882233', NULL, NULL, N'B', N'23456789', N'Cliente B', 9, NULL)
INSERT [dbo].[Cliente] ([TipoCliente], [IdCliente], [Email], [Estado], [Telefono], [Cuit], [RazonSocial], [Apellido], [Dni], [Nombre], [IdDireccion], [IdCuentaCorriente]) VALUES (N'e', 3, N'info@abc.om', 1, N'47654536', N'27555555559', N'ABC Informatica', NULL, NULL, NULL, 19, 3)
SET IDENTITY_INSERT [dbo].[Cliente] OFF

SET IDENTITY_INSERT [dbo].[Producto] ON 
INSERT [dbo].[Producto] ([IdProducto], [Categoria], [CodigoProducto], [Descripcion], [Unidad], [IdCliente]) VALUES (1, N'Informatica', N'Laptop A342', N'portatil liviana', N'Pieza', 3)
INSERT [dbo].[Producto] ([IdProducto], [Categoria], [CodigoProducto], [Descripcion], [Unidad], [IdCliente]) VALUES (2, N'Informatica', N'Laptop 14', N'ABC333', N'Pieza', 3)
INSERT [dbo].[Producto] ([IdProducto], [Categoria], [CodigoProducto], [Descripcion], [Unidad], [IdCliente]) VALUES (3, N'Informatica', N'Laptop 15', N'ABC332', N'Pieza', 3)
SET IDENTITY_INSERT [dbo].[Producto] OFF

SET IDENTITY_INSERT [dbo].[Seguro] ON 

INSERT [dbo].[Seguro] ([IdSeguro], [Descripcion], [Tarifa], [TarifaPorKm], [TipoSeguro], [idProveedor]) VALUES (1, N'Seguro', 110, 0, N'Mercaderia', 2)
SET IDENTITY_INSERT [dbo].[Seguro] OFF
SET IDENTITY_INSERT [dbo].[ServicioSeguridad] ON 

INSERT [dbo].[ServicioSeguridad] ([IdServicioSeguridad], [Descripcion], [Tarifa], [idProveedor]) VALUES (1, N'Servicio Completo', 800, 4)
SET IDENTITY_INSERT [dbo].[ServicioSeguridad] OFF
SET IDENTITY_INSERT [dbo].[TarifasCarrier] ON 

INSERT [dbo].[TarifasCarrier] ([IdTarifasCarrier], [Ciudad], [Comentarios], [PrecioKMExtra], [Prioridad], [Tarifa], [IdSucursal], [IdPais], [idProveedor]) VALUES (1, N'Capital Federal', N'', 5400, N'1', 240, 1, 2, 3)
INSERT [dbo].[TarifasCarrier] ([IdTarifasCarrier], [Ciudad], [Comentarios], [PrecioKMExtra], [Prioridad], [Tarifa], [IdSucursal], [IdPais], [idProveedor]) VALUES (2, N'Paris', N'tarifa viaje directo', 4600, N'2', 2500, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[TarifasCarrier] OFF


